<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TopFlush</title>
</head>
<body>
    <h1>Hello Toilet!</h1>
    <h2>Revolution of your restroom experience</h2>

    <ul>Finding Nearby Restrooms</ul>
    <ul>Reviewing Them</ul>
    <ul>Reporting Unavailable Restrooms</ul>
    <ul>Viewing Restroom Details</ul>

    <h2>Working In Progress. More Coming...</h2>
    <a href="home.ejs" class="start-button">Start Your Flush</a>
</body>
</html>
