<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TopFlush</title>
</head>
<body>
    <h1>Welcome to TopFlush</h1>
    <a href="home.ejs">Go to App Home</a>
</body>
</html>
