<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="/public/Icon.png">
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
</head>
<body>
    <header>
    <div class="header-content">
        <div class="center-content">
        <img src="/public/Icon.png" class="website-icon" alt="Website Icon">
        <h1 class="website-title">TopFlush</h1>
        </div>
        <div class="header-buttons">
            <% if (user && user.username) { %>
            <span>Welcome, <%= user.username %> </span>
            <a href="/logout" class="header-link">Logout</a>
            <% } else { %>
            <a href="/login" class="header-link">Log In/</a>
            <a href="/register" class="header-link">Register</a>
            <% } %>
        </div>
    </div>
    </header>

    <main class="sub-content">
        <%- body %>
    </main>

    <footer>
        <div class="footer-content">
            <a href="home" class="start-button">home</a>
            <p><a href="https://github.com/Tythla/TopFlush">CS555 Project</a></p>
        </div>
    </footer>
</body>
</html>