<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="/public/Icon.png">
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
</head>
<body>
    <header>
    <div class="header-content">
        <div class="center-content">
        <img src="/public/Icon.png" class="website-icon" alt="Website Icon">
        <h1 class="website-title">TopFlush</h1>
        </div>
        <div class="header-buttons">
            <% if (typeof username !== 'undefined' && username) { %>
                <div>
                    <div class="welcome-content">
                        <b>Welcome, <%= username %></b>
                    </div>
                    <div>
                        <a href="/profile" class="header-link login"><b>Profile</b></a>
                        <a href="/logout" class="header-link register"><b>Logout</b></a>
                    </div>
                </div>
            <!-- <span>Welcome, <%= username %> </span>
            <a href="/logout" class="header-link">Logout</a> -->
            <% } else { %>
            <a href="/login" class="header-link login"><b>Log In</b></a>
            <a href="/register" class="header-link register"><b>Register</b></a>
            <% } %>
        </div>
    </div>
    </header>

    <main class="sub-content">
        <%- body %>
    </main>

    <footer>
        <div class="footer-content">
            <div>
                <a href="https://github.com/Tythla/TopFlush" class="start-button" target="_blank">Github</a>
            </div>
            <div class="footer-copyright">
                &copy; 2023 Top Flush. All Rights Reserved.
            </div>
        </div>
    </footer>
</body>
</html>