<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
</head>
<body>
    <header>
        <div class="header-content">
            <img src="/public/Icon.png" class="website-icon">
            <h1 class="website-title">TopFlush</h1>
        </div>
    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <!-- Your footer content -->
    </footer>
</body>
</html>
