<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Login</title>
</head>

<body>
    <h2>Login</h2>
    <form action="/login" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username"  name="username" required>
        </div><br>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div><br>
        <div >
            <input type="submit" value="Login" class="register-button">
        </div>
    </form>
    <h4>Do not have an account?</h4>
    <a href="./register">
        <div class="register-button">
            <p>Register</p>
        </div>
    </a>
</body>

</html>