<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Register</title>
</head>

<body>
    <h1>Register</h1>
    <form method="post" action="/register">
        <div>
            <input type="text" name="username" pattern="[a-zA-Z0-9]{3,15}" placeholder="Username" />
        </div>
        <div>
            <input type="email" name="email" placeholder="Email" />
        </div>
        <div>
            <input type="password" name="password" pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}" placeholder="Password" />
        </div>
        <div>
            <input type="password" name="confirmedpassword" pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}"
                placeholder="Confirm Your Password" />
        </div>


        <% if(typeof error != 'undefined') { %>
            <div class="errorMsg">
                <p style="color: red;"><%= error %></p> 
            </div>
            <% } %>


                <div>
                    <select name="gender" id="gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div>
                    <input type="submit" value="Register">
                </div>
    </form>
</body>

</html>