body {
  background-color: #e1e1e1;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
}

header {
  background-color: #907676;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* max-width: 1200px; */
  /* margin: auto; */
}

footer {
  background-color: #907676;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-copyright {
  margin-top: 10px; /* Adds some space above the CS555 Project link */
}

.website-icon {
  margin-right: 10px;
  width: 100px;
  height: 100px;
}

.website-title {
  margin: 0;
  color: rgb(44, 33, 33);
}

.sub-content {
  margin: 0px;
  padding: 160px 40px 60px;
}

.start-button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #2c3e50;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 200px;
  transition: background-color 0.3s;
}

.start-button:hover {
  background-color: #34495e;
}

.header-link {
  text-decoration: none;
  color: white;
  margin-bottom: 5px;
  flex-direction: column;
  align-items: flex-end;
  
}

.login,
.register {
  padding: 10px;
  display: inline-block; 
  text-align: center; 
  text-decoration: none;
  color: #fff;
}

.login {
  background: #907676;
}

.register {
  /* background: #fff;
  color: rgb(44, 33, 33); */
  margin-right: 10px; 
  display: inline-block; 
  padding: 8px 15px; 
  text-align: center; 
  text-decoration: none; 
  border: 1px solid #ccc; 
  border-radius: 3px; 
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #2c3e50;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.restroom-link {
  color: inherit;
  text-decoration: none; 

}

.register-button {
  display: inline-block; 
  padding: 8px 15px; 
  text-align: center; 
  text-decoration: none; 
  border: 1px solid #ccc; 
  border-radius: 3px; 
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #2c3e50;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-button:hover {
  background-color: #34495e;
}

.register-button p {
  margin: 0; /* Remove default paragraph margin */
}

.index {
  margin: auto;
  width: max-content;
}

.welcome-content {
  display: flex;
  gap: 1rem;
  color: rgb(44, 33, 33);
  /*margin-bottom: 10px; */
  font-size: 14px;
  margin-left: 10px;
  /* justify-content: flex-end;
  padding-right: 20px; */
}

/* .login {
  background: #907676;
  color: #fff;
  padding: 20%;
}
.register {
  background: #fff;
  color: #907676;
  padding: 20%;
} */

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
}

.restroom-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.restroom-item {
  border: 1px solid #ccc;
  padding: 10px;
  /*margin: 10px; */
  border-radius: 5px;
  background-color: #fff;
  width: calc(33.333% - 20px);
  box-sizing: border-box;
}

.restroom-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.restroom-info {
  text-align: left;
}

.star-rating {
  font-size: 20px;
}

.star {
  display: inline-block;
  color: #ccc; /* Default color for empty stars */
}

.filled {
  color: #f5c518; /* Color for filled stars */
}

.profile-content {
  text-align: center;
  margin: auto;
  width: 50%; /* Adjust the width as needed */
}

.form-container {
  position: absolute;
  top:250px;
  right: 0;
  width: 33%;
}